SECRET_KEY=not-a-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,.ngrok-free.app,.ngrok-free.dev,.ngrok.app,.ngrok.io

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

STARKBANK_KEY=not-a-secret-key
STARKBANK_PROJECT_ID=starkbank-project-id
STARKBANK_ENVIRONMENT=sandbox

NGROK_AUTHTOKEN=your-ngrok-authtoken